body{
  background-color: #dfdfdf;
}

.overall{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;

  margin: 100px auto;
}
.title-p{
  text-align: center;
  font-size: 30px;
  margin: 
}
.container{
  border-radius: 10px;
  max-width: 200px;
background-color: #f9f7de;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 35px
}

.result-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
}